
.loginUI{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
}
.loginUI input{
    width:100%;
    appearance:none;
    border:0;
    padding:0;
    padding-left:10px;
    font-size:12px;
    line-height:26px;
    border-radius:3px;
    margin-bottom:5px;
    box-sizing:border-box;
}

#loginOuterWrap{
    width:100%;
    height:100%;
    position:relative;
/*     background:rgba(0,0,0,.7); */
}
#loginWrap{
    width:200px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate3d(-50%,-50%,0);
}
#loginWrap button{
    width:100%;
    background:lightgreen;
    color:#227822;
    appearance:none;
    border:0;
    font-size:14px;
    line-height:36px;
    font-weight:bold;
    border-radius:3px;
    transition: all .3s ease;
    cursor:pointer;
}
#loginWrap button.failed{
    background:red;
    color:#fff;
}


#textureSelectionWrap{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate3d(-50%,-50%,0);
    display:none;
    color:#fff;
}
#textureSelectionWrap ul{
    width: 430px;
    display:flex;
    justify-content: space-between;
}
#textureSelectionWrap ul li{
    width:100px;
    height:100px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius:3px;
    color:#fff;
    background-size: contain;
    cursor:pointer;
    overflow: hidden;
    transition: all .3s ease;
}
#textureSelectionWrap ul li:before{
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    z-index: 5;
    box-sizing: border-box;
    pointer-events:none;
}

#textureSelectionWrap ul li.active:before{
    border: 2px solid white;
}
#textureSelectionWrap ul li img{
    width:100%;
    height:100%;
    object-fit:cover;
}

#textureSelectionWrap ul li label{
    height:100%;
    padding:0 5px;
    position: absolute;
    z-index: 3;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#999;
    border: 2px solid #999;
    cursor:pointer;
    box-sizing: border-box;
    mix-blend-mode: multiply;
}


#textureSelectionWrap button{
    width:100%;
    background:lightgreen;
    color:#227822;
    appearance:none;
    border:0;
    font-size:14px;
    line-height:36px;
    font-weight:bold;
    margin-top:10px;
    border-radius:3px;
    position: relative;
    overflow:hidden;
    cursor:pointer;
}

#textureSelectionWrap button:disabled,
#textureSelectionWrap button[disabled]{
    background:lightgray;
    color:#999;
    cursor:auto;
}

#textureSelectionWrap button p{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
    position: relative;
    z-index:2;
}

#textureSelectionWrap button #progressBar{
    width:100%;
    height:100%;
    position: absolute;
    bottom:0;
    left:0;
    z-index:1;
}

#textureSelectionWrap button #progressBar span{
    width:100%;
    height:100%;
    background:lightgreen;
    transform-origin: left;
    transform:translate3d(0,0,0) scaleX(0);
    display: inline-block;
    transition:all .6s ease-out;
}

ul, li{
    list-style:none;
    padding:0;
    margin:0;
}