.chatUI{
    position:fixed;
    bottom:20px;
    right:20px;
}

#chatWrap{
    width:20vw;
}

#chatWrap input{
    width:100%;
    appearance:none;
    border:0;
    padding:0;
    padding-left:10px;
    font-size:12px;
    line-height:26px;
    border-radius:3px;
    margin-bottom:5px;
    box-sizing:border-box;
}

#chatWrap button{
    width:100%;
    appearance:none;
    border:0;
    padding:0;
    font-size:14px;
    line-height:36px;
    font-weight:bold;
    border-radius:3px;
    background:#eee;
    color:#888;
}