.avatarContrainer {
    position: absolute;

    background-color: #222;
    color: #fff;
    font-weight: 100;
    padding: 8px;

    z-index: 5;

    box-shadow: 0 0 16px rgba(0, 0, 0, .3);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.avatarContent {
    width: 100vw;
    height: 100vh;
    border: none;
}

.avatarContentMobile {
    width: 100vw;
    height: 100vh;
    border: none;
}